/* .BgImage{
    background-image: url(  https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}
.Wt{
    height: 30vh;
}
#BgColor{
    background-color:rgb(133, 243, 243);
    width: 500px;
    height: 500px;
    padding: 5%;
} */