/* .Msg{
    margin-left: 30%;
    margin-top: 10%;
}
button{
    width: 400px;
    margin-top: 3%;
    padding: 4%;
    border-radius: 0%;
}
h1{
    margin-left: 10%;
}
#b1{
    padding: 2%;

}
#b2{
    padding: 2%;
}
#b3{
    padding: 2%;
}
#b4{
    padding: 2%;
} */
