/* body{
    background-color: yellow;
}
.cont{
    background: white;
    display: grid;
    place-content: center;
    margin-top: 5%;
    padding: 5%;
    
}
img{
    height: 300px;
}
h1{
    font-weight: bolder;
    margin-left: 15%;
    margin-bottom: 5%;
}
button{
    background: rgba(43, 94, 236, 0.925);
    color: white;
    border-color: transparent;
    border-radius: 5%;
    margin-left: 25%;
    margin-top: 3%;
} */