/* body{
    background-image: url(https://img.freepik.com/premium-photo/high-definition-star-field-colorful-night-sky-space-nebula-galaxies-space-astronomy-concept-background_232070-8070.jpg);
    background-repeat: no-repeat;
    background-size:cover;
} */
/* h1{
    font-weight: bolder;
    margin-left: 5%;
}
.B1{
    background-color: yellow;
    color: white;
}
.B2{
    background-color: white;
    color: black;
    margin-left: 4%;
}
.B3{
    background-color: rgb(46, 167, 223);
    color: white;
    margin-left: 4%;
}
.t4{
    margin-left: 35%;
    margin-top: 10%;
}
button{
    border-radius: 10px;
    padding: 1%;
    width: 100px;
    margin-top: 5%;
} */