/* body{
    background-color: black;
}
.contain{
    background: white;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    margin-top: 10%;
}
h1{
    background:teal;
    border-radius: 2%;
    border-color: black;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
button{
    margin-top: 30%;
    margin-left: 5%;
}
.btn1{
    background-color: rgb(33, 219, 33);
    border-color: transparent;
}
.btn2{
    background-color: rgb(230, 82, 82);
    border-color: transparent;
}
.btn3{
    background-color: rgb(58, 135, 202);
    border-color: transparent;
} */